<link href="https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;600&display=swap" rel="stylesheet">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<mat-toolbar>
    <div class="logo-content">
        <img src="../assets/education.svg" alt="logo">
    </div>&nbsp;
    <div class="logo-txt">Bookstore</div>
    <span class="example-spacer"></span>
    <input matInput type="search" placeholder=" search here..." class="search-input">&nbsp;
    <mat-icon matPrefix class="fa fa-search"></mat-icon>
    <span class="example-spacer"></span>
    <div class="cart">
        <div matBadge="1"  matBadgeSize="small" >
            <img src="../assets/supermarket.svg" alt="logo" routerLink="cart">
        </div>
    </div>
  </mat-toolbar>
