<link href="https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;600&display=swap" rel="stylesheet">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<mat-toolbar>
  <div class="logo-content">
    <img src="../assets/education.svg" style="cursor: pointer;" alt="logo" routerLink="/">
  </div>&nbsp;
  <div class="logo-txt" routerLink="/" style="cursor: pointer;">Bookstore</div>
  <span class="example-spacer"></span>
  <div>
    <input matInput *ngIf="!hasRoute('cart') && !hasRoute('order')" type="search" placeholder=" Search here..."
      class="search-input" name="key" (input)="onInput($event)" autocomplete="off">&nbsp;
  </div>
  <span class="example-spacer"></span>
  <span *ngIf="email!=undefined" class="user">Hi, {{user.firstName}}</span>&nbsp;&nbsp;
  <mat-icon matPrefix class="fa fa-sign-out" style="font-size:24px; cursor: pointer;" *ngIf="email!=undefined"
    (click)="logout()"></mat-icon>
  <mat-icon matPrefix class="fa fa-user-circle" routerLink="/login" *ngIf="email==undefined"
    style="font-size:24px; cursor: pointer;"></mat-icon>&nbsp;&nbsp;
  <div class="cart" *ngIf="!hasRoute('cart')">
    <div [matBadge]="cartCount" matBadgeSize="small" [matBadgeHidden]="cartCount==0">
    </div>
    <img src="../assets/supermarket.svg" alt="logo" style="cursor: pointer;" routerLink="/cart">

  </div>
</mat-toolbar>