<link href="https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;600&display=swap" rel="stylesheet">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<mat-toolbar>
    <div class="logo-content">
        <img src="../assets/education.svg" alt="logo" routerLink="/">
    </div>&nbsp;
    <div class="logo-txt" routerLink="/">Bookstore</div>
    <span class="example-spacer"></span>
    <div >
    <input matInput type="search" placeholder=" Search here..." class="search-input"  name="key" [(ngModel)]="key">&nbsp;
    <mat-icon matPrefix class="fa fa-search" (click)="searchBook(key)"></mat-icon>
    </div>
    <span class="example-spacer"></span>
    <span *ngIf="email!=undefined">Hi, {{user.firstName}}</span>&nbsp;&nbsp;
    <mat-icon matPrefix class="fa fa-sign-out" style="font-size:24px" *ngIf="email!=undefined" (click)="logout()"></mat-icon>
    <mat-icon matPrefix class="fa fa-user-circle" routerLink="/login" *ngIf="email==undefined" style="font-size:24px"></mat-icon>&nbsp;&nbsp;
    <div class="cart">
        <div matBadge="{{cartCount}}"  matBadgeSize="small" >
            <img src="../assets/supermarket.svg" alt="logo" routerLink="/cart">
        </div>
    </div>
  </mat-toolbar>
