.mat-toolbar{
    margin-top: 40px;
    background: #2E1D1E;
    color: #fff;
  }
  .txt{
    margin-left: 30%;
    font: normal normal 14px Roboto;
  }
  @media screen and (max-width: 600px) {
    .mat-toolbar{
      width: 100%;
    }
    .txt{
      width: 100%;
      font: normal normal 9px Roboto;
    }
  }