<app-header></app-header>
<div class="img">
<img src="../assets/order-success.png">
</div>
<div class="msg">
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;hurray!!! your order is confirmed the order id is #123456 save the order id for further communication..
</div>
<div class="table">
    <table mat-table class="mat-elevation-z8">
      <tr>
          <th> Email us</th>
          <th> Contact us </th>
          <th> Address </th>

      </tr>
      <tr>
        <td> admin@bookstore.com</td>
          <td>        <div class="td-2">
            +91 8163475881        </div>    
        </td>  
          <td>  42, 14th Main, 15th Cross, Sector 4 ,opp to BDA complex, near Kumarakom restaurant, HSR Layout, Bangalore 560034</td>
      </tr>
      </table>   
</div>
    <button mat-raised-button class="btn" color="primary" routerLink="/">CONTINUE SHOPPING</button>
<app-footer></app-footer>