<app-header></app-header>
<div *ngIf="(cartCount == 0)">
  <img mat-card-image  style="height: 400px; width: 400px; margin-top: 30px; margin-left: 30%;"
   src="../assets/empty-cart-png.png">
   <h1 style="margin-left: 25%; margin-top: 40px; font-size: 48px; font-weight: 500;" *ngIf="(cartCount == 0)"
   >Sorry no items in your cart..!!</h1>
   <button mat-raised-button  style="margin-left: 40%; margin-top: 30px;" color="primary" routerLink="/">CONTINUE SHOPPING</button>
   <app-footer></app-footer>
</div>
<mat-stepper orientation="vertical" class="stepper" >
    <mat-step >
      <ng-template matStepLabel>My Cart ({{cart.length}})</ng-template>
      <ng-template matStepContent>

        <div class="card-wrapper">
        <mat-card class="example-card" *ngFor="let c of cart">
              <div class="card-content">
                <img mat-card-image 
                class="img" src="../assets/{{c.book.bookImage}}" >
                <mat-card-title >{{c.book.bookName}}</mat-card-title>
                <mat-card-subtitle>{{c.book.authorName}}</mat-card-subtitle>
                <mat-card-title>Rs.{{c.book.price}}</mat-card-title><br>
                <div>
                    <button mat-mini-fab style="background-color: #A03037; color: white;  height:20px; width: 20px;
                     font-size: 20px;" (click)="decrement(c.cartId, c.book.bookId, c.user.userId, c.quantity)" 
                     [disabled]="(c.quantity == 1)">-</button>&nbsp;
                    <input matInput value="{{c.quantity}}" style="width:20px; height: 15px; text-align: center;">&nbsp;
                    <button mat-mini-fab style="background-color: #A03037; color: white;  height:20px; width: 20px;
                     font-size: 15px;" (click)="increment(c.cartId, c.book.bookId, c.user.userId, c.quantity)">+</button>&nbsp;
                    <button mat-button (click)="remove(c.cartId)">Remove</button>
                </div>
            </div>
          </mat-card>
        </div>
        <mat-card class="card" >
        <mat-card-actions align="end">
          <button mat-raised-button matStepperNext color="primary">PLACE ORDER</button>
        </mat-card-actions>
        </mat-card>
      </ng-template>
    </mat-step>

    <mat-step >
      <ng-template matStepLabel>Customer Details</ng-template>
      <ng-template matStepContent>
        <mat-card class="card" >
        <div class="card-content">
          <mat-card-title >First Name: {{users.firstName}} </mat-card-title>
          <mat-card-title> Last Name: {{users.lastName}}</mat-card-title>
          <mat-card-title >Address: {{users.address}}</mat-card-title>
          <mat-card-title> Email: {{users.email}}</mat-card-title>
        </div>
        <mat-card-actions align="end">
            <button mat-raised-button matStepperNext color="primary">CONTINUE</button>
        </mat-card-actions>
        </mat-card>
      </ng-template>
    </mat-step>

    <mat-step>
      <ng-template matStepLabel>Order Summary</ng-template>
      <div class="card-wrapper">
        <mat-card class="example-card" *ngFor="let c of cart">
              <div class="card-content">
                <img mat-card-image 
                class="img" src="../assets/{{c.book.bookImage}}" >
                <mat-card-title>{{c.book.bookName}}</mat-card-title>
                <mat-card-subtitle>{{c.book.authorName}}</mat-card-subtitle>
                <mat-card-title>Rs.{{c.book.price * c.quantity}}</mat-card-title><br>
                </div>
      </mat-card>
    </div>
      <mat-card class="card" >
        <mat-card-actions align="end">
          <button mat-raised-button color="primary" (click)="placeOrder()" >CHECKOUT</button>
      </mat-card-actions>
      </mat-card>
    </mat-step>
  </mat-stepper>
  
<app-footer></app-footer>
