<app-header></app-header>
<mat-toolbar>
<div class="sub-menu">
    <mat-card-title class="mct">Books &nbsp;</mat-card-title>
</div>
<mat-card-subtitle>({{bookCount}} Items)</mat-card-subtitle>
<span class="example-spacer"></span>
<select name="sort" id="sort-select" class="select" [(ngModel)]="sortby" (change)="sort()">
  <option value="default">-- Sort By Relevance -- &nbsp;&nbsp;</option>
  <option value="priceLow" >Price: Low-High</option>
  <option value="priceHigh">Price: High-Low</option>
</select>
</mat-toolbar>  

<div class="card-wrapper">
<mat-card class="example-card" *ngFor="let book of booksList, let i = index" >
  <div class="img-bg">
    <img mat-card-image  
    class="img" src="../assets/{{book.bookImage}}">
  </div>
    <mat-card-content>
      <mat-card-title class="ct">{{book.bookName}}</mat-card-title>
        <mat-card-subtitle>{{book.authorName}}</mat-card-subtitle>
        <mat-card-title class="ct">Rs. {{book.price}}</mat-card-title>
        </mat-card-content>
    <mat-card-actions>
      <button mat-raised-button *ngIf="!bookAdded[i]" class="btn1" style="background-color: #A03037; color: white" 
      (click)="addToCart(book.bookId, i)">ADD TO BAG</button>&nbsp;&nbsp;&nbsp;&nbsp;
      <button mat-raised-button color="primary" *ngIf="bookAdded[i]" class="btn3">ADDED TO BAG</button>
      <button mat-raised-button  *ngIf="!bookAdded[i]" class="btn2">WISHLIST</button>
    </mat-card-actions>
  </mat-card>
</div>
<app-footer></app-footer>
